<%
# valor default de algumas variáveis
botao_editar ||= false
comentarios ||= false

%>
<div class="span6">
	<h2><%= pagina.titulo %><%= link_to '', edit_pagina_path(pagina), :class => "icon-edit" %></h2>

	<p>
	  <%= pagina.corpo.html_safe %>
	</p>
	
	<p>
		<small><%= pagina.usuario.apresentacao %></small>
	</p>


	<%= comments_for pagina if comentarios %>
</div>