<h1>Editing pagina</h1>

<%= simple_form_for(@pagina, :html => { :class => 'form-horizontal'}) do |f| %>

	<%= render :partial => 'form', :locals => { :f => f } %>

  <div class="form-actions">
		<%= link_to 'Cancelar', paginas_path, :class => "btn" %>
    <%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to 'Excluir', @pagina, confirm: 'Tem certeza?', method: :delete, :class => "btn btn-danger" %>

  </div>
<% end %>


<%= link_to 'Show', @pagina %> |
<%= link_to 'Back', paginas_path %>
