<%= simple_form_for(@mural || Mural.new, :html => { :class => 'form-horizontal'} ) do |f| %>
<% if f.error_notification %>
   <div class="alert alert-error fade in">
     <a class="close" data-dismiss="alert" href="#">&times;</a>
     <%= f.error_notification %>
   </div>
 <% end %>

  <div class="form-inputs">
    <%= f.input :titulo, :label => "título" %>
    <%= f.input :corpo, :label => "mensagem" %>
    <%= f.input :comentavel, :as => :boolean, :label => "Permitir comentários?" %>
    <%= f.input :publico, :as => :boolean, :label => "Pessoas de fora do condominio podem ler?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
